<header>
  <img src="assets/icon/logo.png" >
</header>


<ion-content>
  <p  style="margin-left: 25px; color: black;"><b><h4>Products</h4></b></p>
  
      <ion-card color="black" (click)="productpage()">
        <ion-item>
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
       <b >All Products</b>
       </ion-item>
      </ion-card>
   
    
      <ion-card color="black" (click)="vechicalmakepage()">
          <ion-item>
            <ion-icon name="arrow-dropright" slot="end"></ion-icon>
          <b>Vehical Make</b>
        </ion-item>
      </ion-card>
          
        
      <ion-card color="black">
        <ion-item>
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        <b>Air Treatment</b>
      </ion-item>
      </ion-card>

      <ion-card color="black">
        <ion-item>
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        <b>Control Valves</b>
      </ion-item>
      </ion-card>

      
      <ion-card  color="black">
        <ion-item>
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        <b>Foundation Breaks</b>
      </ion-item>
      </ion-card>

      
      <ion-card color="black">
        <ion-item>
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        <b>Lift Axel</b>
      </ion-item>
      </ion-card>

      
      <ion-card  color="black">
        <ion-item>
          <ion-icon name="arrow-dropright" slot="end"></ion-icon>
        <b>ABS & Traning ABS</b>
      </ion-item>
      </ion-card>
</ion-content>
