<header>
  <ion-buttons slot="start"> <ion-back-button defaultHref="home"></ion-back-button> 
    <img src="assets/icon/logo.png">
  </ion-buttons>
</header>
<ion-content >
  <p style="margin-left: 30px; font-size: large;"><b>Vehical Make</b></p>
  
  <ion-grid>
  
    <ion-row>
      <ion-col size=6  *ngFor="let company of Companies">
        <ion-card class="text-center" class="ion-padding"  [routerLink]="['tatamotarsdetail/',company.Id]">
          <img src="{{company.Logo}}">
          <p><b>{{company.Name}}</b></p>
        </ion-card>
      </ion-col>
     
     
    </ion-row>
   
  
 
  </ion-grid>

</ion-content>
