

header{
    img{
        height: 60%;
        width: 60%;
        margin-top: 10px;
        margin-left: 30px;
        align-items: center;
    }
}


    
    
    ion-card
    {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        margin-left: -1px;
        p{
            font-size: medium;
            color: black;
        }

        img
        {
            height: 70%;
            width: 100%;
        }
    }