
header{
    img{
        height: 80%;
        width: 75%;
        margin-left: 40px;
        margin-top: 10px;
    }
}


ion-card
{
    height: 100%;
    width: 100%;
    img{
        height: 80%;
        width:120%;
    }
}

p{
    color: gray;
    font-size: small;
}