
header{
    img{
        height: 60%;
        width: 60%;
        margin-top: 10px;
        margin-left: 30px;
        align-items: center;
    }
}


ion-card
{
    height: 100%;
    width: 100%;
    .img1{
        height: 140px;
        width:140px;
        margin-top: 50px;
    }
}

p{
    color: gray;
    font-size: small;
}


.pic{
    
}