ion-slides{
    img{
        height: 100%;
        width: 100%;
    }
}


ion-searchbar
{
    border-radius: 25px;
}



ion-card
{
    height:120px;
    width: 105px;
    margin-left: -0.5px;
    border-radius: 5px;
    img{
        height: 45%;
        width: 70%;
        margin-left: 10px;
    }
    p{
        font-size: small;
        text-align: center;
       
    }
}

p{
    color: black;
    font-size: medium;
}
index{
    .card-content
    {
        padding: 0px 16px;
        max-height: 0px;
    }
}

header{
    img{
        height: 60%;
        width: 60%;
        margin-top: 10px;
        margin-left: 80px;
        align-items: center;
    }
}

label{
    font-size: medium;
    color: #000;
}
