
<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <!-- <div class="flb"> -->
    <!-- <div class="Aligner-item Aligner-item--top"></div> -->
     <img src="assets/icon/download.png"> 
    <!-- <div class="Aligner-item Aligner-item--bottom"></div> -->
  <!-- </div> -->
</div>


<ion-content class="ion-padding">
  
    <ion-list>
      <div>
        <img src="assets/homepage.png">
      </div><br><br><br>
      <ion-item>
        <ion-input placeholder="Name" type="text" [(ngModel)]="Name" ></ion-input>
      </ion-item><br><br>

      <ion-item>
        <ion-input placeholder="Phone Number" type="number"  [(ngModel)]="Mobile"></ion-input>
      </ion-item><br><br>

      <ion-item>
        <ion-input placeholder="Email" type="text"  [(ngModel)]="Email"></ion-input>
      </ion-item><br><br>

      <ion-item>
        User Type
      
        <ion-select placeholder="Select Any"  [(ngModel)]="select">
          <ion-select-option value="ABC">ABC</ion-select-option>
          <ion-select-option value="EFG">EFG</ion-select-option>
          <ion-select-option value="HIJ">HIJ</ion-select-option>
        </ion-select>
      </ion-item><br><br>
    </ion-list>

    <div>
      
      <ion-button color="white" style="color: midnightblue;" [routerLink]="['/index','']" >Skip</ion-button>
         
         
      <ion-button color="primary" (click)="postmethod()" [routerLink]="['/index',Name]" >Let's Start</ion-button>
   
    </div>
    <label>{{dataFromService}}</label>
 
</ion-content>
